@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    /*min-width: 300px;*/
}

body {
    position: relative;
    display: inline-block;
    text-align: left;
    width: calc(100% - 10px);
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    background-color: #F3F4F5;
    color: #000000;
    transition: background-color 0.2s, color 0.2s;
    margin: 0px;
}

.darkmode body {
    background-color: #181810;
    color: #F3F4F0;
}

#container {
    padding: 5px 24px 5px 24px;
}

#question {
    overflow-x: auto;
}

#method {
    overflow-x: auto;
}

#answers {
    list-style-type: lower-alpha;
    padding: 0px;
}

#answers > label > li {
    margin: 0px;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
}

#answers > label > li > input {
    margin: 5px;
}

#answers > label:not(.correct):not(.incorrect) > li:hover {
    background: linear-gradient(to right, rgba(120, 120, 120, 0.6), rgba(120, 120, 120, 0));
}

#answers > label:not(.correct):not(.incorrect) > li:active {
    background: linear-gradient(to right, rgba(120, 120, 120, 0.8), rgba(120, 120, 120, 0));
}

#answers > label > li.selected {
    border-color: green;
}

#answers > label > li:not(.selected) {
    border-color: red;
}

#answers > label.correct > li {
    background: linear-gradient(to right, rgba(0, 220, 0, 1), rgba(0, 220, 0, 0));
}

.darkmode #answers > label.correct > li {
    background: linear-gradient(to right, rgba(0, 180, 0, 1), rgba(0, 180, 0, 0));
}

#answers > label.incorrect > li {
    background: linear-gradient(to right, rgba(220, 0, 0, 1), rgba(220, 0, 0, 0));
}

.darkmode #answers > label.incorrect > li {
    background: linear-gradient(to right, rgba(180, 0, 0, 1), rgba(180, 0, 0, 0));
}

#answers > label > li > .explanation {
    font-style: italic;
    font-size: 80%;
}

#answers > label:not(.incorrect) > li > .explanation {
    display: none;
}

#answers > label#done > li {
    list-style-type: none;
    text-align: right;
    border-radius: 0px 5px 5px 0px;
}

#answers > label#done > li:hover {
    background: linear-gradient(to left, rgba(120, 120, 120, 0.6), rgba(120, 120, 120, 0));
}

#answers > label#done > li:active {
    background: linear-gradient(to left, rgba(120, 120, 120, 0.8), rgba(120, 120, 120, 0));
}

#answers > .sep {
    height: 2px;
    margin: 3px 0px 3px 0px;
    border-radius: 2px 0px 0px 2px;
    background-color: rgba(120, 120, 120, 0.5);
    background: linear-gradient(to left, rgba(120, 120, 120, 0), rgba(120, 120, 120, 0.5));
}

.sideline {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    padding: 5px 0px 5px 0px;
    font-size: 75%;
    color: rgb(120, 120, 120);
    background-color: #F3F4F5;
    transition: background-color 0.2s, color 0.2s;
    z-index: 1;
}

.darkmode .sideline {
    color: rgb(120, 120, 120);
    background-color: #181810;
}

.sideline a {
    color: rgb(120, 120, 120);
}

.sideline .left {
    float: left;
}

.sideline .right {
    float: right;
}

#header {
    top: 0;
}

#header > .sep {
    height: 2px;
    border-radius: 2px;
    margin: 5px 0px 5px 0px;
    background: linear-gradient(to left, rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0.3));
}



#progressarea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 12px 0px 12px 0px;
}

#progresswrap {
    flex-grow: 1;
}

@media screen and (max-width: 12cm) and (max-width: 600px) {
    #progresswrap {
        width: 32px;
        flex-grow: 0;
    }
}

#progressbar {
    position: relative;
    min-width: calc(70% - 100px);
    height: 8px;
    margin: 0px;
    padding: 0px;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: red;
    background: linear-gradient(to bottom, #EE0000, #FF0000);
    overflow: hidden;
}

@media screen and (max-width: 12cm) and (max-width: 600px) {
    #progressbar {
        flex-grow: 1;
    }
}

#progressbar > #progresstransform {
    position: absolute;
    width: calc(200% + 3px);
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#progressbar > #progresstransform > .progressel {
    position: relative;
    width: 0%;
    margin: 0px;
    float: left;
    height: 100%;
    padding: 0px;
    background-color: #00FF00;
    transition: width 0.1s, margin-left 0.1s, margin-right 0.1s;
}

#pwrap {
    flex-grow: 1;
}

@media screen and (max-width: 12cm) and (max-width: 600px) {
    #pwrap {
        width: 90px;
        flex-grow: 0;
    }
}

#progresspercentage {
    overflow-x: visible;
    width: 0px;
    padding-left: 15px;
    font-size: 250%;
    color: #181810;
    transition: color 0.2s;
}

.darkmode #progresspercentage {
    color: #F3F4F0;
}


#footer {
    bottom: 0px;
}





.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}